# coding: utf-8

"""
UseractionApi.py
Copyright 2015 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class UseractionApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def user_email_action_batch(self, **kwargs):
        """
        Apply batch operation
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.user_email_action_batch(user_email_action_batch=user_email_action_batch_value, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param UserEmailActionBatch user_email_action_batch:  (required)
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_email_action_batch']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method user_email_action_batch" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'user_email_action_batch' is set
        if ('user_email_action_batch' not in params) or (params['user_email_action_batch'] is None):
            raise ValueError("Missing the required parameter `user_email_action_batch` when calling `user_email_action_batch`")

        resource_path = '/user/action/email/batch'.replace('{format}', 'json')
        method = 'POST'

        path_params = {}

        query_params = {}

        header_params = {}

        form_params = {}
        files = {}

        body_params = None
        if 'user_email_action_batch' in params:
            body_params = params['user_email_action_batch']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['read_key']

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='int',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def user_email_action_send(self, **kwargs):
        """
        Perform action for single user
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.user_email_action_send(user_email_action_send=user_email_action_send_value, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param UserEmailActionSend user_email_action_send:  (required)
        :return: bool
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_email_action_send']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method user_email_action_send" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'user_email_action_send' is set
        if ('user_email_action_send' not in params) or (params['user_email_action_send'] is None):
            raise ValueError("Missing the required parameter `user_email_action_send` when calling `user_email_action_send`")

        resource_path = '/user/action/email/single'.replace('{format}', 'json')
        method = 'POST'

        path_params = {}

        query_params = {}

        header_params = {}

        form_params = {}
        files = {}

        body_params = None
        if 'user_email_action_send' in params:
            body_params = params['user_email_action_send']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['read_key']

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='bool',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def user_mailbox_action_send(self, **kwargs):
        """
        Send message to user
        Sends a mail to users mailbox

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.user_mailbox_action_send(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str project: 
        :param str from_user: 
        :param str to_user: 
        :param int parent: 
        :param str message: 
        :param int timestamp: 
        :return: Message
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project', 'from_user', 'to_user', 'parent', 'message', 'timestamp']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method user_mailbox_action_send" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/user/action/mailbox/action/mailbox/single'.replace('{format}', 'json')
        method = 'POST'

        path_params = {}

        query_params = {}

        header_params = {}

        form_params = {}
        files = {}
        if 'project' in params:
            form_params['project'] = params['project']
        if 'from_user' in params:
            form_params['from_user'] = params['from_user']
        if 'to_user' in params:
            form_params['to_user'] = params['to_user']
        if 'parent' in params:
            form_params['parent'] = params['parent']
        if 'message' in params:
            form_params['message'] = params['message']
        if 'timestamp' in params:
            form_params['timestamp'] = params['timestamp']

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['write_key']

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='Message',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def user_mailbox_action_batch_send_messages(self, **kwargs):
        """
        Apply batch operation
        

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.user_mailbox_action_batch_send_messages(user_mailbox_action_batch_send_messages=user_mailbox_action_batch_send_messages_value, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param UserMailboxActionBatchSendMessages user_mailbox_action_batch_send_messages:  (required)
        :return: int
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['user_mailbox_action_batch_send_messages']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method user_mailbox_action_batch_send_messages" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'user_mailbox_action_batch_send_messages' is set
        if ('user_mailbox_action_batch_send_messages' not in params) or (params['user_mailbox_action_batch_send_messages'] is None):
            raise ValueError("Missing the required parameter `user_mailbox_action_batch_send_messages` when calling `user_mailbox_action_batch_send_messages`")

        resource_path = '/user/action/mailbox/batch'.replace('{format}', 'json')
        method = 'POST'

        path_params = {}

        query_params = {}

        header_params = {}

        form_params = {}
        files = {}

        body_params = None
        if 'user_mailbox_action_batch_send_messages' in params:
            body_params = params['user_mailbox_action_batch_send_messages']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['read_key']

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='int',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
